.image-viewer {
  width: 400px;
  height: 400px;

  border: solid 1px;
}
.picture-placeholder {
  width: 300px;
  height: 300px;
}

.upload-list-inline .ant-upload-list-item {
  float: left;
  margin-right: 8px;
}

.upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}
