.side-bar {
  min-width: 300px;
  width: 300px;
  /* border-right: 1px solid gray; */
  background-color: #0000000a;
  padding-top: 15px;
}

.filter-section {
  width: 200px;
}

.filter-section > * {
  width: 200px !important;
  margin: 5px 20px !important;
}
